<!doctype html>
<html lang="en">
<head>
    <!-- Basic page settings and meta data -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <!-- Link to the stylesheet -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<section class="login_page">
    <!-- Login image section -->
    <div class="login-img">
        <img src="/static/images/eklatlogo1.png" alt="Login Image">
    </div>
    <!-- Login form -->
    <form action="{{ url_for('login') }}" method="post">
        <h1>Bienvenidos</h1>
        <!-- Username input group -->
        <div class="form-group">
            <input type="text" placeholder=" " maxlength="13" id="username" name="username" required>
            <label>Usuario</label>
            <i><img src="./static/images/icons8-male-user-32.png"></i>
        </div>
        <!-- Password input group -->
        <div class="form-group">
            <input type="password" id="password" name="password" placeholder=" " maxlength="20" required>
            <label>Clave</label>
            <!-- Icons for showing and hiding the password -->
            <i id="show-icon"><img src="/static/images/icons8-lock-50.png"></i>
            <i id="hide-icon"><img src="/static/images/icons8-unlock-50.png"></i>
        </div>
        <!-- Sign in button -->
        <button type="submit" class="custom-btn btn-1">Entrar</button>
        <!-- Sign up link -->
        <!--<p class="custom-text">
            Don't have an account? <a href="#">Sign Up!</a>
        </p>-->
    </form>
</section>

<!-- Link to the JavaScript file -->
<script src="./static/custom.js"></script>

</body>
</html>
